<h2 class="page-header">Enter Region Info</h2>

<form method="post" action="/regioninfos">
   <div class="form-group">
    <label>Area1</label>
    <input type="text" class="form-control" placeholder="Area to be guarded" name="name">
  </div>
  <div class="form-group">
    <label>Area2</label>
    <input type="text" class="form-control" placeholder="Area to be guarded " name="username">
  </div>
   <div class="form-group">
    <label>Area3</label>
    <input type="text" class="form-control" placeholder="Area to be guarded" name="email">
  </div>
  <div class="form-group">
    <label>Area4</label>
    <input type="text" class="form-control" placeholder="Area to be guarded" name="password">
  </div>
  <div class="form-group">
    <label>Area5</label>
    <input type="text" class="form-control" placeholder="Area to be guarded" name="password2">
  </div>
 
  <button type="submit" class="btn btn-default">Submit</button>
</form>