
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>
<table>
<th>Guard</th>
<th>Count</th>

{{#each users}}
<tr>
	<td>{{username}}</td>
	<td>{{count}}</td>
</tr>

{{/each}}
</body>
