
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>
<table>
<th>Guard</th>
<th>Successful Scan</th>
<th>Unsuccessful Scan</th>
<th>Route Followed</th>
{{#each users}}
<tr>
	<td>{{username}}</td>
	<td><a href= '/details/{{username}}'>Click</a></td>
	<td><a href= '/detailss/{{username}}'>Click</a></td>
    <td><a href='/route/{{username}}'>Click</a></td>
</tr>

{{/each}}
</body>
